<!DOCTYPE html>
<html lang="en">
    <title>Python Quiz</title>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
        <!--<link href=​"../​static/​css/​main.css" rel=​"stylesheet">​-->
        <style>

            #editor {
                width: 800px;
                height: 500px;
                border: 1px;
                border-color: solid black;
                position: absolute;
                z-index: 1;
            }

            #modal {
                width: 800px;
                height: 500px;
                border: 1px;
                border-color: solid black;
                position: absolute;
                z-index: 2;
            }

            #code {
                position: absolute;
            }

            .container {
                margin-left: 5%;
                margin-right: 5%;
            }

            div {
                padding-bottom: 2.5%;
            }

            .page-header {
                margin-top: 0;
            }

        </style>
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="../static/ace-builds/src-noconflict/ace.js" charset="utf-8"></script>
        <script src="https://l2.io/ip.js?var=userip"></script>
        <script>       
            var myIP = userip; 
            var validID = false;
            //set the IP address variable to be in post
            var lastKeyPress = Date.now();
            var submitted = false;
            var lastSubmission = "&bnsp;#write&bnsp;your&bnsp;code&bnsp;here&bnsp;"

            function change_theme()
            {
                theme = document.getElementById("select_theme").value;
                editor.setTheme("ace/theme/" + theme);
            }

            setInterval( function() 
            {
                if(!submitted)
                {
                    var currentTime = Date.now();
                    if( validID == true && (currentTime - lastKeyPress >= 5000) )
                    {
                        myContent = formatCode();
                        if(myContent != lastSubmission)
                        {
                            var myUserID = document.getElementById("userid").value;

                            $.ajax({
                                type: 'POST',
                                url: '/DB',
                                data: {"content":myContent, "userid":myUserID, "ip": myIP},
                                success: function(result) {
                                    console.log("Successful submission to the database (not final submission).")
                                    lastSubmission = myContent;
                                },
                                error: function(error) {
                                    alert("There has been an error with the database, please contact the administrator.");
                                    console.log(error);
                                }
                            });
                        }
                    }
                }
            }, 5000);

            function formatCode()
            {
                var code = editor.getValue();
                var code = code.replace(/\r?\n/g, "<br/>"); //replace return carriage and newline characters
                var code = code.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;'); //replace tabs with 4 spaces
                var code = code.replace(/ /g,"&nbsp;"); //replace spaces with ACII value
                return code;
            } 

            function submitcode()
            {
                if(validID == true)
                {
                    var myContent = formatCode();
                    var myUserID = document.getElementById("userid").value;
                    myContent = "<u>Final Submission</u></br>" + myContent;
                    $.ajax({
                        type: 'POST',
                        url: '/DB',
                        data: {"content":myContent, "userid":myUserID, "ip": myIP},
                        success: function(response) {
                             alert(response);
                        },
                        error: function(error) {
                             alert("There has been an error with the database, please contact the administrator.");
                            console.log(error);
                        }
                    });
                    document.getElementById("codeSpace").innerHTML = "UserID: " + myUserID + ", IP: " + myIP + "<br/>" + myContent;
                    submitted = true;
                    //$('.jumbotron').append(format(JSON.parse(response)));
                }
                else { alert("Please enter a valid ID before submitting your quiz."); }
            }

            function checkID()
            {
                var value = document.getElementById("userid").value;
                    var p = new RegExp('([a-z])'+'([a-z])'+'([a-z])'+'(\\d)'+'(\\d)'+'([a-z])');
                    var m = p.exec(value);
                if (m != null)
                    {
                    validID = true;
                        var modal = document.getElementById("modal");
                        modal.parentNode.removeChild(modal);
                    }
            }

            $(document).bind('keypress', function(e) 
            { 
                if ($("#userid").is(':focus')) {
                    lastKeyPress = Date.now(); 
                    if(e.keyCode == 13) {e.preventDefault();}
                } 
            });

        </script>
    </head>
    <body>
        <div class = "container">
            <div class="page-header">
              <h1>Python Quiz <small><br/>Please enter a valid user ID first. When you are done with your quiz, please submit it by hitting the "Finish" button.</small></h1>
            </div>
            <div id = "codeSpace">
                <form action="/execute" method="post" id = "codeForm">
                    <div class="input-group col-xs-5 col-lg-4">
                        <input type="text" class="form-control" placeholder="ACU User ID" aria-describedby="basic-addon1" id="userid" name="userid" value="" onkeyup="checkID()">
                        <div class="input-group-btn">
                            <button class="btn btn-danger" type="button" onclick="submitcode(); return false;">Finish</button>
                        </div>
                    </div>
                    <div id="options">
                        Change theme:
                        <select id="select_theme" onchange="change_theme();">
                            <option value="idle_fingers" selected>idle_fi$
                            <option value="merbivore">merbivore</option>
                            <option value="xcode">xcode</option>
                        </select>
                    </div>
                    <div id="code">
                        <div id="editor" class="editor"> #write your code here </div>
                        <div id="modal"> &nbsp;</div>
                        <script>
                            var editor = ace.edit("editor");
                            editor.setTheme("ace/theme/idle_fingers");
                            editor.getSession().setMode("ace/mode/python");
                        </script>
                    </div>  
                </form>
            </div>
        </div>
    </body>
</html>